<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no,adress=no"/>

    <title>消息</title>

    <link rel="stylesheet" href="css/g.css">
    <link rel="stylesheet" href="css/comm.css">

    <link rel="stylesheet" href="inc/mescroll/mescroll.min.css">

    <style>
        .cellSel {
            width: 30px;
            height: 30px;
        }

        .check {
            background-image: url("img/generalIcon/agree_n.png");
        }

        .active.check {
            background-image: url("img/generalIcon/agree_y.png");
        }

        .cellCt {
            flex: 1;
        }

        .cellIcon {
            height: 80px;
            width: 80px;
            /*flex-basis: 80px;*/
        }

        .bottomBar {
            height: 55px;
            padding: 0px 10px;
            line-height: 40px;
            text-align: center;
        }

        .del {
            width: 105px;
            height: 40px;
            font-size: 16px;
        }

        /*.textHide {*/
        /*overflow: hidden;*/
        /*!*自动隐藏文字*!*/
        /*text-overflow: ellipsis;*/
        /*!*文字隐藏后添加省略号*!*/
        /*white-space: nowrap;*/
        /*!*强制不换行*!*/
        /*width: 9em;*/
        /*!*不允许出现半汉字截断*!*/
        /*}*/

        @media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {

            /* 兼容iphone5 */
            /*.textHide {*/
            /*overflow: hidden;*/
            /*!*自动隐藏文字*!*/
            /*text-overflow: ellipsis;*/
            /*!*文字隐藏后添加省略号*!*/
            /*white-space: nowrap;*/
            /*!*强制不换行*!*/
            /*width: 6em;*/
            /*!*不允许出现半汉字截断*!*/
            /*}*/
        }

        .time {
            word-break: break-all;
            text-align: right;
        }


    </style>

</head>

<!--******************************************************************************-->

<body>

<header>
    <div class="navBar bottomShadow">
        <div class="navBackIcon" onclick="Comm.close()"></div>
        <div id="bj" class="navItem mr10" onclick="edit(this)">编辑</div>
        <div class="navTitle">消息</div>
    </div>
</header>
<!--******************************************************************************-->

<section class="page mescroll chatroom bg_lgray" id="refreshId0">

    <div class="list">
        <ul id="id_list0">
            <!--列表-->

            <!--<div class="msCell flex_between m10">-->
            <!--<div class="check lIcon cellSel hide"></div>-->
            <!--<div class="cellCt p10 bg_white br5">-->
            <!--<div class="flex_between mainW lh30">-->
            <!--<div class="statuText f16 baseWH">订单完成</div>-->
            <!--<div class="col_sub time baseWH">2019/05/01</div>-->
            <!--</div>-->

            <!--<div class="goods bg_lgray flex br5">-->
            <!--<img src="img/tbhome/banner.png" class="cellIcon imgCover" alt="">-->
            <!--<div class="goodsInfo pad_h10 mt5">-->
            <!--<div class="goodsTitle line2">JISWENA全球购女包奢侈品包包撞色 包秋冬季新款车线小包包单肩包时 包秋冬季新款车线小包包单肩包时</div>-->
            <!--<div class="col_sub f12 mt5">订单编号：3434456937593</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->

        </ul>
    </div>


</section>

<!--******************************************************************************-->
<footer>

    <div id="foot" class="flex_between p10 bottomBar hide">
        <div id="q" class="lIcon sall check">全选</div>
        <div class="del bg_trans col_white br5" onclick="del()">删除</div>
    </div>

</footer>

<script type="text/javascript" src="js/z.js"></script>
<script type="text/javascript" src="js/g.js"></script>
<script type="text/javascript" src="js/comm.js"></script>
<script type="text/javascript" src="js/art-template.js"></script>
<script type="text/javascript" src="inc/mescroll/mescroll.min.js"></script>

<script>
    var merefresh = null;
    var category1 = Comm.query('type');
    var isEdit = false;

    //所有消息存放的对象 - - 根据id获取对应的消息
    var sourseDic = {};

    function pageload() {
        addrefresh();
    }

    function pageresume() {
        addrefresh();
    }


    //点击编辑完成
    function edit(t) {
        if ($(t).text() == '编辑') {

            $(t).text('完成');
            $('.bottomBar').removeClass('hide');
            $('.cellSel').removeClass('hide');
            isEdit = true;
        } else {
            editComplectUI();
        }
        Comm.resizeSection();
    }

    function editComplectUI() {
        $('#bj').html('编辑');
        $('.bottomBar').addClass('hide');
        $('.cellSel').addClass('hide');
        $('#foot').addClass('hide');
        isEdit = false;
        selectedAll(false);
        // Comm.resizeSection();
    }


    //检查是否全选
    function checkSall() {
        if ($('.cellSel').length == $('.cellSel.active').length) {
            selectedAll(true);
        } else {
            $('.sall').removeClass('active');
        }
    }


    //添加刷新控件
    function addrefresh() {

        if (!merefresh) {
            merefresh = new MERefresh();
            merefresh.refreshOption.refreshUrl = '/api/message/getList';
            // merefresh.refreshOption.noMoreSize = 2;
            merefresh.refreshOption.refreshParm = {
                category: category1//当前任务的taskId
            }
            //页面 <刷新> 的回调
            merefresh.refreshOption.refresh_cb = function (refresh, d) {
                console.log(d);
                var list = d.data || [];

                refresh.successEndRef(list.length, d.totalCount);
                var keyWord = 'messageId';

                list.forEach(function (a) {
                    if (!a) return;
                    if (category1 == 2 && a.content) {
                        var order = JSON.parse(a.content);
                        a.order = order;
                        a.type = category1;
                        a.contentOrder = order.goodsName;
                    }

                    sourseDic[a[keyWord]] = a;
                });


                {
                    refresh.successEndRef(list && list.length || 0, d.totalCount || 0);

                    if (d.code == 1) {
                        var html = template('chatListId', list);
                        merefresh.appendHtml(html);
                    } else {
                        Comm.message(d.msg);
                    }
                    initCheck();
                    editComplectUI();
                }

            };

            merefresh.configurationDone('refreshId0', 'id_list0');
        } else {
            merefresh.refreshFunction();
        }

    }


    function listRefresh() {
        merefresh.refreshOption.refreshParm = {
            category: category1//当前任务的taskId
        };
        merefresh.downRefresh();
    }


    function initCheck() {
        checkBoxChoose('body', '.check', function (t, idx) {
            var sall = $(t).hasClass('sall');
            if (sall) {
                var isSall = $(t).hasClass('active');
                selectedAll(isSall);
            } else {
                checkSall();
            }
        })
    }

    function del() {

        var o = {};
        o.messageIds = '';
        for (var i = 0; i < $('.b').length; i++) {
            if ($('.b').eq(i).hasClass('active')) {
                var messageId = $('.b').eq(i).attr('messageId');
                if (o.messageIds == '') {
                    o.messageIds = o.messageIds + messageId;
                } else {
                    o.messageIds = o.messageIds + ',' + messageId;
                }
            }
        }
        if (typeof(o.messageIds) == 'undefined' || o.messageIds == 'undefined' || o.messageIds == '') {
            Comm.message('请选择要删除的商品');
            return;
        }
        AJAX.POST('/api/message/delete', o, function (a) {
            if (a.code == 1) {
                Comm.message('删除成功');
                merefresh.refreshOption.refreshParm = {
                    category: category1//当前任务的taskId
                };
                merefresh.MeRefScroll.resetUpScroll();
            } else {
                Comm.message(a.msg);
            }
        })
    }


    function selectedAll(istrue) {
        if (istrue) {
            $('.check').addClass('active');
        } else {
            $('.check').removeClass('active');
        }
    }

    function msgClicked(msgId, state, oid) {
        if (isEdit) return;

        if (state == 2) {
            Comm.go('orderDetail.html?oid=' + oid + '&messageId=' + msgId);
        } else {
            Comm.go('artical.html?messageId=' + msgId + '&state=' + state);
        }
        $('#' + msgId).find('.hasNew').remove();


    }


</script>


<script type="text/html" id="chatListId">
    {{each $data as model i}}

    <div id="{{model.messageId}}" class="a msCell flex_between m10"
         onclick="msgClicked('{{model.messageId}}','{{model.type}}',{{if model.type==2}}'{{model.order.ordersId}}'{{else}}''{{/if}})">
        <div class="b check lIcon cellSel hide" messageId="{{model.messageId}}"></div>
        <div class="cellCt p10 bg_white br5">
            <div class="flex_between mainW lh30">
                <div class="flex_start">
                    {{if model.state == 1}}
                    <div class="col_red f18 hide"></div>
                    {{else}}
                    <div class="col_red f18 hasNew">•</div>
                    {{/if}}
                    <div class="statuText f16 baseWH textHide">{{model.title}}</div>
                </div>

                <div class="col_sub time baseWH">{{formatDate(model.addTime,'m-d H:i')}}</div>
            </div>

            <div class="goods bg_lgray flex br5">

                {{if model.type == 2}}
                <img src="{{OSS(model.order.faceImg,'s')}}" class="cellIcon imgCover br3" onerror="app.errorimg(this);">
                {{/if}}
                <div class="goodsInfo pad_h10 mt5 flex1">
                    {{if model.type == 2}}
                    <div class="goodsTitle line2 textHide">{{model.contentOrder||''}}</div>
                    <div class="col_sub f12 mt5">订单编号：{{model.order.ordersNo}}</div>
                    {{else}}
                    <div class="goodsTitle line2 textHide">{{model.content||''}}</div>
                    {{/if}}
                </div>
            </div>

        </div>
    </div>

    {{/each}}
</script>


</body>

</html>