<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no,adress=no"/>

    <title>确认订单</title>

    <link rel="stylesheet" href="css/g.css">
    <link rel="stylesheet" href="css/comm.css">

    <style>
        .address {
            line-height: 25px;
            min-height: 80px;
            background: url(img/tbmall/didxi.png) repeat-x center center;
            background-size: auto 100%;
            padding: 15px;
        }

        .noAddress {
            margin: auto;
        }

        .addAddress {
            padding: 5px 15px;
            line-height: 20px;
            border-radius: 5px;
            background-color: #EB3B17;
            width: 100px;
            text-align: center;
            margin: auto;
        }

        .default {
            border: 0.5px solid #FFD6DF;
            color: #EB3B17;
            line-height: 15px;
            border-radius: 3px;
            padding: 0px 5px;
        }

        .desInput {
            color: #CCCCCC;
        }

        .desInput.active {
            color: #666666;
        }

        .orderBtn {
            padding: 0px 20px;
            font-size: 18px;
        }

        .noticebg {
            color: #EB3B17;
            padding: 15px;
            padding-left: 35px;

            background: url("img/goods/tishi.png") no-repeat top 18px left 15px;
            background-size: 12px 12px;
        }

        .bg_notice {
            background-color: #FFF4F2;
        }

        .bg_lgray {
            background-color: #FAFAFA;
        }

        .f16 span{
            font-size: 16px;
        }

    </style>

</head>

<!--******************************************************************************-->

<body>

<header>
    <div class="navBar bottomShadow">

        <div class="navBackIcon" onclick="backClicked();"></div>

        <div class="navTitle">确认订单</div>
    </div>
</header>
<!--******************************************************************************-->

<section class="scroll-y">

    <!--地址-->
    <div class="addressCt"></div>
    <div class="p15"></div>

    <!--商品-->
    <div class="contentInfo">

    </div>


    <!--提示-->
    <div class="bg_notice hide">
        <div class="noticebg f12"></div>
    </div>

</section>

<!--******************************************************************************-->
<footer>

    <div class="lh40 p5 flex_between">
        <div class="pl10 col_red bold f16">
            <span>合计:¥</span>
            <span id="hj">0</span>
        </div>

        <button id="ljxd" class="lh40 bg_trans orderBtn col_white br5" onclick="pay();">立即下单</button>

    </div>

</footer>


<script type="text/html" id="tp_id_priceInfo"></script>


<script src="js/z.js"></script>
<script src="js/g.js"></script>
<script src="js/comm.js"></script>
<script src="js/api.js"></script>
<script src="js/area.js"></script>
<script src="js/art-template.js"></script>

<script>
    var moneyCount;
    var sureOrderM = Comm.db('sure_order') || {};
    var userinfo = Comm.db('userinfo')||{};

    var pageData = {
        sureOrderM: sureOrderM,
        ginfo: {},
        uinfo: userinfo,
    };


    function backClicked() {
        Comm.db('PData',null);
        Comm.close();
    }



    function pageresume() {
        pageData = Comm.db('PData');
        setTimeout(function () {
            refreshUI(pageData);
            setAddressInfo(pageData);
        },100);
    }

    function pageload() {
        if (Comm.db('PData')){
            pageData = Comm.db('PData');
        }

        Area.init();

        getGoodsInfo();
        setAddressInfo(pageData);
    }




    function refreshUI(data) {
        pageData = data;
        Comm.db('PData',pageData);

        var ginfoHtml = template('tp_id_goods', data);
        $('.contentInfo').html(ginfoHtml);

        var tPrice = (pageData.sureOrderM.ticket>=1?getCanUse(1):0);
        var pPrice = (pageData.sureOrderM.packets>=1?getCanUse(2):0);

        var totle = pageData.sureOrderM.price - tPrice - pPrice;
        setTotlePrice(totle);

        $('#remake').val(pageData.remark||'');
    }


    //跳转事件
    function chooseAddressOrDeduction(type) {

        pageData.remark = $('#remake').val();
        Comm.db('PData',pageData);
        if (type == 3){
            Comm.go('addressList.html');
        } else {
            Comm.go('couponsChoose.html?type='+type);
        }
    }


    //获取商品信息
    function getGoodsInfo() {
        var params = {
            goodsId: sureOrderM.goodsId
        }
        Comm.loading(1);
        SLNetwork('get', '/api/shoppingMall/goodsDetail/getGoodsBasic', params, function (data) {
            Comm.loading();
            if (data.code == 1) {
                pageData.ginfo = data.data;
                refreshUI(pageData);
            } else {
                Comm.loading();
            }
        });
    }


    //获取收货地址信息
    function setAddressInfo(data) {
        pageData = data;
        if (!pageData.address) {
            //获取收货地址
            AJAX.GET('/api/customerAddr/queryBydefault', function (a) {
                if (a.data.length != 0) {
                    for (var i = 0; i < a.data.length; i++) {
                        if (a.data[i].defaultAddr == 1) {
                            pageData.address = a.data[i];
                        }
                    }
                }
                var addressHtml = template('tp_showAddressId', pageData);
                $('.addressCt').html(addressHtml)
            });
        } else {
            var addressHtml = template('tp_showAddressId', pageData);
            $('.addressCt').html(addressHtml)
        }
    }


    //立即下单
    function pay() {

        preventRepeadClickDeal(function () {
            if (!pageData.address) {
                Comm.message('请添加收货地址');
                return;
            }
            var parms = {};
            parms.goodsSpecInfoId = pageData.sureOrderM.goodsSpecInfoId;
            parms.num = pageData.sureOrderM.num;
            parms.addressId = pageData.address.customerAddrId;
            parms.specText = pageData.sureOrderM.specText;
            parms.remark = $('#remake').val();
            parms.ticket = pageData.sureOrderM.ticket;
            parms.packets = pageData.sureOrderM.packets;
            if(parms.remark.length>20){
                Comm.message('备注不能超过20字');
                return;
            }

            Comm.loading(1);
            AJAX.POST('/api/shoppingMall/order/buildOrder', parms, function (a) {
                Comm.loading();
                if (a.code == 1) {
                    var orderId = a.data.ordersId || '';
                    Comm.db('PData', null);
                    Comm.go('pay.html?type=sorder&oid=' + orderId);
                } else {
                    Comm.message(a.msg);
                }
            });
        },1)
    };


    function setTotlePrice(price) {
        if(price<0)price=0;
        $('#hj').html(app.price(price));

        if (pageData.sureOrderM.ticket >= 1 || pageData.sureOrderM.packets >= 1){
            $('.bg_notice').addClass('hide');
            return;
        }
        getProportion(function (per) {

            if (!per || per < 0) return;
            return;
            var getM = (app.price(price) / 100 * pageData.ginfo.discount * per / 100).toFixed(2);
            if (pageData && pageData.ginfo && pageData.ginfo.discount > 0) {
                $('.noticebg').text('商品让利' + pageData.ginfo.discount + '%，合计' + (app.price(price) /
                    100 * pageData.ginfo.discount).toFixed(2) + '元将进入分润池进行增值，预计到\n' +
                    '                账本息合计' + getM + '元');
                $('.bg_notice').removeClass('hide');
            }
        });
    }


    //获取分润比例
    function getProportion(cb) {
        SLNetwork('get', '/api/store/getUserShareProfit', {}, function (data) {
            if (data.code == 1) {
                cb && cb(data.data || 0);
            }
        });
    }



    template.defaults.imports.tempGetCanUse = function (t) {
        return getCanUse(t);
    }

    template.defaults.imports.tempGetCanUse = function (t) {
        return getCanUse(t);
    }




    //获取小值
    function getMinNum(a,b) {
        if (a > b){
            return b;
        } else {
            return a;
        }
    }

    function getCanUse(t){
        var pModel = pageData;
        var a = 0,b = 0,u = 0;
        if (t == 1){
            var limit = pModel.sureOrderM.price - (pModel.sureOrderM.packetPrice||0);//最多可以抵扣的金额
            a = pModel.uinfo.ticket;//用户现有券 数额
            b = pModel.ginfo.ticket * pModel.sureOrderM.num;//商品可抵扣券 数额

            var minTickt = getMinNum(a,b);


            return getMinNum(minTickt,limit)||0;
        } else if (t == 2){

            var limit = pModel.sureOrderM.price - (pModel.sureOrderM.ticketPrice||0);//最多可以抵扣的金额
            a = pModel.uinfo.packets;//用户现有券 数额
            b = pModel.ginfo.packets * pModel.sureOrderM.num;//商品可抵扣券 数额

            var minTickt = getMinNum(a,b);

            return getMinNum(minTickt,limit)||0;
        }
        return 0;
    }

</script>





<!-- 地址 默认地址（选择的地址） -->
<script type='text/html' id='tp_showAddressId'>

    {{if address}}
    <div id="a2" class="address" onclick="chooseAddressOrDeduction(3);">
        <div class="hasAddress indicator">
            <div class="flex_start f16">
                <div class="name">{{address.userName}}</div>
                <div class="name ml10">{{address.phone}}</div>
            </div>

            <div class="flex_start col_sub">
                {{if address.defaultAddr == 1}}
                <div id="mr" class="default col_theme mr5 f12 mr10">默认</div>
                {{/if}}
                <!--<div class="name">四川省成都市武侯区</div>-->
                <div id="mrText" class="name wordW grow1 f14">{{getFullName(address.addrId)}}{{address.address}}</div>
            </div>
        </div>
    </div>
    {{else}}
    <div id="a1" class="address" onclick="chooseAddressOrDeduction(3);">
        <div class="noAddress center">
            <div class="f12">请添加收货地址</div>
            <div class="addAddress col_white">添加地址</div>
        </div>
    </div>
    {{/if}}

</script>


<!--商品信息-->
<script type="text/html" id="tp_id_goods">

    <div class="p15 bg_lgray goodsInfo">
        <div class="flex f16 marb10 pad10">
            <div style="flex-basis: 90px;" class="">
                <img src="{{OSS(ginfo.faceImg,'s')}}" width="90" height="90" onerror="app.errorimg(this)">
            </div>
            <div class="column paddl10 paddr10" style="min-height: 90px;width:100%;">
                <div class="grow1">
                    <div class="f14 lh20 wordW2">{{ginfo.goodsName}}</div>
                    <div class=" f12 autoW edit_model">
                        <span class="col_sub">{{sureOrderM.specText}}</span>
                    </div>
                </div>
                <div class="flex_between">
                    <div class="coloreb3 f18 endTest w50">¥{{priceTp(sureOrderM.unitPrice)}}</div>
                    <div class="w50 tright color999 f16">x{{sureOrderM.num}}</div>
                </div>
            </div>
        </div>
    </div>


    <!----------------优惠券------------------>
    <div class="f16">

        <!--{{if ginfo.ticket>0 && uinfo.ticket>0 && tempGetCanUse(1)>0}}-->
        <!--<div class="cell pl15 disable bottomBorder" onclick="chooseAddressOrDeduction(1);">-->
            <!--<div class="cellContent indicator">-->
                <!--<div class="">现金券抵扣</div>-->

                <!--{{if sureOrderM.ticket > 0}}-->
                <!--<div>已用现金券抵扣({{priceTp(tempGetCanUse(1))}})元</div>-->
                <!--{{else}}-->
                <!--<div>{{priceTp(tempGetCanUse(1))}}元现金券可用</div>-->
                <!--{{/if}}-->

            <!--</div>-->
        <!--</div>-->
        <!--{{/if}}-->


        {{if ginfo.packets>0 && uinfo.packets>0 && tempGetCanUse(2)>0}}
        <div class="cell pl15 bottomBorder" onclick="chooseAddressOrDeduction(2);">
            <div class="cellContent indicator">
                <div class="">红包券抵扣</div>

                {{if sureOrderM.packets > 0}}
                <div>已用红包券抵扣({{priceTp(tempGetCanUse(2))}})元</div>
                {{else}}
                <div>{{priceTp(tempGetCanUse(2))}}元红包券可用</div>
                {{/if}}

            </div>
        </div>
        {{/if}}



        <div class="cell pl15">
            <div class="cellContent">
                <div class="">买家备注:</div>
                <input id="remake" class="desInput grow1 ml10 wordW f15" placeholder="选填:对本次交易的说明" maxlength="20"/>
            </div>
        </div>
    </div>


    <!------------------ 金额 ------------------>
    <div class="f16">
        <div class="cell pl15 disable">
            <div class="cellContent">
                <div class="">商品金额</div>
                <div class="">¥<span id="storePrice">{{priceTp(sureOrderM.price)}}</span></div>
            </div>
        </div>

        <!--<div class="cell pl15 disable">-->
            <!--<div class="cellContent">-->
                <!--<div class="">现金券抵扣</div>-->
                <!--<div class="">-¥<span id="delTicket">{{if sureOrderM.ticket >= 1}}{{priceTp(tempGetCanUse(1))}}{{else}}0{{/if}}</span></div>-->
            <!--</div>-->
        <!--</div>-->

        {{if ginfo.packets>0 && uinfo.packets>0 && tempGetCanUse(2)>0}}
        <div class="cell pl15 disable">
            <div class="cellContent">
                <div class="">红包券抵扣</div>
                <div class="">-¥<span id="delPackets">{{if sureOrderM.packets >= 1}}{{priceTp(tempGetCanUse(2))}}{{else}}0{{/if}}</span></div>
            </div>
        </div>
        {{/if}}
    </div>

</script>

<!--{{if ginfo.packets>0 && uinfo.packets>0 && tempGetCanUse(2)>0 && !(ginfo.isPoor>0)}}-->

<!--{{if ginfo.packets>0 && uinfo.packets>0 && tempGetCanUse(2)>0 && !ginfo.isPoor}}-->

</body>

</html>